body {
  background: url('../img/linedpaper.png');
  margin: 0;
  padding: 0;
}

label {
  font-family: 'Lato', 'Helvetica', sans-serif;
  font-weight: 500;
  font-size: 12px;
}

header {
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
}

h1,
h2 {
  font-family: 'Oswald', 'Lato', 'Helvetica', sans-serif;
}

h1 {
  font-size: 40px;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 20px;
}

.before,
.after {
  position: relative;
  height: 300px;
}

.content {
  margin: 0 auto;
  width: 720px;
  overflow: hidden;
}

.video-streams,
.controls {
  float: left;
}

/* Video Styles */
.video-streams {
  width: 400px;
  margin-right: 20px;
}

video,
canvas {
  display: block;
}

canvas {
  margin-top: 20px;
}

/* Control Styles */
.controls {
  width: 300px;
}

/* Only works in Safari & Chrome */
input[type='range'] {
 display: block;
}

input[type='range']::-webkit-slider-thumb {
 width: 10px;
 height: 10px;
}